<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334969449380-qlp5md1td0gfsomqhb5dgrsk1uf3j094.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334969449380-qlp5md1td0gfsomqhb5dgrsk1uf3j094</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334969449380-4ru2eh7s1u6pjbuucg5k7rkr1rcvtge5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDphcUO8leWul-m_Lpdi7g8BsuDrl-6UJw</string>
	<key>GCM_SENDER_ID</key>
	<string>334969449380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaosity.app</string>
	<key>PROJECT_ID</key>
	<string>kaosity-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kaosity-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334969449380:ios:5f5efdea7c9b20e263ef31</string>
</dict>
</plist>